@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: auto 1fr;
  &::-webkit-scrollbar {
    display: none;
  }
  ::selection {
    background-color: #90827d;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 2em;
  background-color: #51372f;
  -webkit-box-shadow: 0px -2px 40px 0px rgba(0, 0, 0, 0.58);
  -moz-box-shadow: 0px -2px 40px 0px rgba(0, 0, 0, 0.58);
  box-shadow: 0px -2px 40px 0px rgba(0, 0, 0, 0.58);
}

nav {
  display: flex;
  gap: 0.95em;
}

nav > button {
  font-family: "Lato", sans-serif;
  background-color: #51372f;
  border: none;
  font-size: 17.5px;
  color: #e5d4c3;
  cursor: pointer;
  &:hover {
    color: #edbd8c;
  }
}

#hdr-txt {
  font-family: "Great Vibes", cursive;
  font-style: normal;
  font-weight: 580;
  font-size: 40.5px;
  letter-spacing: 0.09em;
  line-height: 1;
  color: #e5d4c3;
  cursor: pointer;
}

#content {
  background-image: url(./images/coffeebgimg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -3em;
}

#home-page-txt {
  margin-top: 6.5em;
  margin-left: 4.5em;
  display: flex;
  flex-direction: column;
  gap: 0.8em;
  width: 42em;
}

#home-page-main-txt {
  font-size: 3.65em;
  font-weight: 560;
  font-family: "Barlow", sans-serif;
  color: #fff6dd;
  line-height: 1;
}

#home-page-info-txt {
  font-family: "Lato", sans-serif;
  font-size: 17.7px;
  font-weight: 600;
  color: #e5d4c3;
}

#home-page-content-btns {
  display: flex;
  gap: 1em;
  margin-top: 0.5em;
}

#home-page-content-btns > button {
  font-family: "Lato", sans-serif;
  background-color: #51372f;
  border: none;
  color: #fff6dd;
  font-size: 15.5px;
  padding: 0.6em 0.9em;
  border-radius: 10px;
  cursor: pointer;
  &:hover {
    background-color: hsl(14, 27%, 28%);
    color: #edbd8c;
  }
  &:active {
    background-color: #51372f;
    color: #e5d4c3;
  }
}

#about-page,
#menu-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about-hdr,
#menu-hdr {
  font-family: "Raleway", sans-serif;
  color: #ffefd5;
  margin-top: 0.5em;
  margin-bottom: 0.6em;
  font-size: 33px;
  text-decoration: underline;
}

#about-content {
  display: flex;
  flex-direction: column;
  width: 75vw;
  height: 70vh;
  padding: 2.5em 3em 2em 3em;
  gap: 2em;
  text-align: center;
  background-color: rgba(42, 28, 18, 0.4);
  backdrop-filter: blur(8px);
  border-radius: 20px;
  border: 1.4px solid rgba(245, 224, 195, 0.8);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2), inset 0 3px 7px rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
  overflow-x: hidden;
}

#about-content > p {
  font-family: "Lato", sans-serif;
  font-size: 21px;
  font-weight: bold;
  color: #e6d7be;
}

#menu-content {
  display: flex;
  flex-direction: column;
  width: 75vw;
  height: 75vh;
  gap: 0.5em;
  padding: 2.5em 3em 2em 3em;
  background-color: rgba(42, 28, 18, 0.4);
  backdrop-filter: blur(8px);
  border-radius: 20px;
  border: 1.4px solid rgba(245, 224, 195, 0.8);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2), inset 0 3px 7px rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
  overflow-x: hidden;
}

#menu-content::-webkit-scrollbar,
#about-content::-webkit-scrollbar {
  width: 7px;
}

#menu-content::-webkit-scrollbar-thumb,
#about-content::-webkit-scrollbar-thumb {
  background-color: #e6d7be;
  border-radius: 10px;
}

.menu-item {
  display: flex;
  justify-content: space-between;
}

.item-name {
  font-family: "Playfair Display", sans-serif;
  font-weight: bold;
  font-size: 22.5px;
  color: #fff6dd;
}

.item-info {
  font-family: "Lora", sans-serif;
  font-style: italic;
  color: #e6d7be;
  font-size: 16.5px;
}

.item-price {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #ffefd5;
  display: flex;
  align-items: flex-end;
}

.line {
  height: 1px;
  width: 100%;
  background-color: #ffefd5;
}

.current-page {
  position: relative;
  overflow: hidden;
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #e5d4c3;
    transition: width 0.3s ease-in-out;
    transform: translateX(-50%);
    width: 100%;
  }
}
